<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="boynasList" class="com.divinesoft.boynas.Boynas" />
	
	<bean id="bynImportCSV" class="com.divinesoft.boynas.Boynas">
		<property name="importer">
			<ref bean="CSVImporter"/>
		</property>
	</bean>
	
	<bean id="bynExportXML" class="com.divinesoft.boynas.Boynas">
		<property name="exporter">
			<ref bean="XMLExporter" />
		</property>
	</bean>
	
	<bean id="bynExportTemplate" class="com.divinesoft.boynas.Boynas">
		<property name="exporter">
			<ref bean="TemplateExporter" />
		</property>
	</bean>
	
	<bean id="bynQuickExport" class="com.divinesoft.boynas.Boynas">
		<property name="importer">
			<ref bean="CSVImporter" />
		</property>
		
		<property name="exporter">
			<ref bean="TemplateExporter" />
		</property>
	</bean>
	
	<!-- Importer -->
	<bean id="CSVImporter" class="com.divinesoft.boynas.importers.CSVImporter">
		<property name="filePath">
			<util:constant static-field="com.divinesoft.boynas.Boynas.filePath"/>
		</property>
	</bean>
	
	<!-- Exporters -->
	<bean id="XMLExporter" class="com.divinesoft.boynas.exporters.XMLExporter" />
	
	<bean id="TemplateExporter" class="com.divinesoft.boynas.exporters.TemplateExporter">
		<property name="velocityEngine">
			<ref bean="velocityEngine" />
		</property>
		
		<property name="templatePath">
			<util:constant static-field="com.divinesoft.boynas.Boynas.templatePath" />
		</property>
	</bean>
	
	<bean id="velocityEngine" class="org.apache.velocity.app.VelocityEngine" />
</beans>